.brand-logo{
    width: 60px;
}
.player img{
    width: 56px;
}
.pl-5{
    padding-left: 30px;
    font-size: 20px;
    font-weight: 700;
}
.top-fahim{
    color: #1121d1;
    padding: 20px 50px;
    font-weight: 600;
}
main{
    max-width: 870px;
    margin-top: 50px;
}
.blog img{
    width: 200px;
    padding-left: 20px;
}
.blog h4{
    padding: 10px 20px;
    font-size: 22px;
}
.blog p{
    padding-left: 20px;
    color: gray;
}
.blog span{
    color: #1121d1;
    font-weight: 600;
}
.row-fahim{
   padding-bottom: 20px;
}
.cotainer-fluied{
    border-bottom: 1px solid gray;
}
footer{
    max-width: 870px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.card{
    padding: 10px 20px;
    box-shadow: 5px 5px 5px 5px rgb(231, 225, 215);
    border-radius: 10px;
}
.card-text{
    color: rgb(214, 33, 33);
    font-weight: 600;
}
.card-footer{
    display: inline;
}
.card-footer img{
    width: 15px;
    height: 15px;
}
.card-footer p{
    color: lightgray;
    font-weight: 600;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 20px;
}
.last-woark{
    background-color: rgba(255, 0, 0, 0.2);
    border-radius: 5px;
    margin-left: 20px;
}
.last-woark h6{
    color: red;
    font-size: 11px;
    padding-left: 5px;
}
#navbarNavAltMarkup a {
    color: #fff;
    padding-left: 40px;
    font-size: 30px;
}
.last-foot{
    display: flex;
}
.last-foot{
    text-align: center;
    color:chartreuse;
    font-style: italic;
}
.last-foot img{
    width: 60px;
}